body{
  margin: 0;}

.main-1{
  background-image: url(../img/kyoto.jpg);
  background-size: cover;
  width: 100%;
  height: 700px;
}

header{
  z-index: 9999;
  width: 100%;
  height: 50px;
  padding: 30px 4% 10px;
  background-color: #fff;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
}

header h1{
  position: relative;
  left: 600px;
  color: #663333;
  font-family: 'HanziPen TC',sans-serif;
  font-size: 35px;
}

header p{
  position: relative;
  bottom: 34px;
  left: 515px;
  color: #663333;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;  font-size: 15px;
}

header ul{
  list-style: none;
  margin: 0;
  display: flex;
  position: relative;
  left: 670px;

}

header li{
  margin: 0 0 0 15px;
  font-size: 14px;
}

header a{
  font-size: 16px;
  color: #663333;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;  font-size: 15px;
  text-decoration: none;
  float: right;
}

.nav-2{
  position: relative;
  width: 100%;
  height: 200px;
  background-color: black;
}

main h1{
  position: relative;
  top: 200px;
  left: 150px;
  color: #fff;
  font-family: 'klee',sans-serif;
}

main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main li {
  display: inline-flex;
}

main li a {
  color: #fff;
  display: flex;
  padding: 8px;
  background-color: black;
  text-decoration:  none;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
