body{
  margin: 0;
  background-image: url(../img/kyoto.jpg);
  background-size: cover;

}

header{
  z-index: 9999;
  width: 100%;
  height: 50px;
  padding: 30px 4% 10px;
  background-color: #fff;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
}

header h1{
  position: relative;
  left: 600px;
  color: #663333;
  font-family: 'HanziPen TC',sans-serif;
  font-size: 35px;
}

header p{
  position: relative;
  bottom: 34px;
  left: 515px;
  color: #663333;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;  font-size: 15px;
}

.nav{
  position: relative;
  top: 100px;
  right: 40px;
  float: right;
}

ul{
  list-style: none;
  margin: 0;
  display: flex;
  text-align: center;
  height: 63px;
}

li{
  margin: 0 0 0 15px;
  font-size: 14px;
}

a{
  font-size: 16px;
  color: #fff;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;  font-size: 15px;
  text-decoration: none;
}

main h1{
  position: relative;
  top: 200px;
  left: 150px;
  color: black;
  font-family: 'klee',sans-serif;
}
